<ul>
  <li>paymentRequestId</li>
  <li>payerId</li>
  <li>payerType</li>
  <li>loanId</li>
  <li>isCash</li>
  <li>amount</li>
  <li>postDate</li>
  <li>effectiveDate</li>
  <li>requestedDate</li>
  <li>confirmationNumber</li>
  <li>status</li>
  <li>source</li>
  <li>externalReferenceId</li>
  <li>paymentType</li>
  <li>customData</li>
  <li>
    achDetails
    <ul>
      <li>routingNumber</li>
      <li>bankAccount</li>
      <li>accountType</li>
      <li>firstName</li>
      <li>lastName</li>
    </ul>
  </li>
  <li>
    checkDetails
    <ul>
      <li>routingNumber</li>
      <li>bankAccount</li>
      <li>checkNumber</li>
      <li>name</li>
    </ul>
  </li>
  <li>paymentDetails</li>
  <li>processorDate</li>
  <li>relatedId</li>
  <li>createdDate</li>
  <li>udpatedDate</li>
  <li>createdBy</li>
  <li>updatedBy</li>
</ul>
