@use '@angular/material' as mat;
@import '../../../assets/sass/material/theme';

.header-height {
  max-height: 80px;
  padding: 35px;
}

img.logo-size {
  max-height: 1.25em;
  max-width: 1.25em;
  margin-right: 6px;
}

.background-color {
  background-color: $mdc-theme-secondary;
}

.prod-header-bg {
  background-color: #1f496b;
  padding: 8px 15px 8px 8px;
  h1 {
    margin-left: 0 !important;
  }
}

.color-contrast {
  color: white;
}

.inline {
  display: inline;
}

.mat-toolbar h1 {
  @include mat.typography-level($ap-typography-config, headline);
}
