<ng-container>
  <ul>
    <li>enrollmentId</li>
    <li>lenderId</li>
    <li>firstName</li>
    <li>middleName</li>
    <li>lastName</li>
    <li>ssn</li>
    <li>schoolName</li>
    <li>schoolCode</li>
    <li>attendanceDate</li>
    <li>certificationDate</li>
    <li>statusBeginDate</li>
    <li>receivedDate</li>
    <li>graduationDate</li>
    <li>termBeginDate</li>
    <li>termEndDate</li>
    <li>statusCode</li>
    <li>status</li>
    <li>programCode</li>
    <li>yearOfEnrollment</li>
    <li>externalReferenceId</li>
    <li>createdDate</li>
    <li>updatedDate</li>
    <li>createdBy</li>
    <li>updatedBy</li>
    <li>customData</li>
    <li>onboardingId</li>
    <li>source</li>
  </ul>
</ng-container>
