@import '../../../assets/sass/material/theme';

.mat-icon.mat-icon-inline {
  font-size: 40px;
}

mat-panel-title.collapse-toggle {
  width: 40px;
  max-width: 40px;
}

mat-panel-title.colored {
  background-color: $lighter-blue;
  color: white;
}

mat-panel-description.colored {
  background-color: $mdc-theme-secondary;
  color: white;
}

mat-expansion-panel.no-radius {
  border-radius: 0;
}

.card-content-size {
  overflow-y: auto;
  overflow-x: hidden;
}
