<mat-expansion-panel
  class="no-radius card-size mt-3 mx-3"
  [hideToggle]="true"
  (opened)="onOpened()"
  (closed)="onClosed()"
  [expanded]="open"
>
  <mat-expansion-panel-header
    class="px-0 py-0 d-flex align-items-stretch"
    [collapsedHeight]="descriptionHeight || '40px'"
    [expandedHeight]="descriptionHeight || '40px'"
  >
    <mat-panel-title
      class="mx-0 my-0 collapse-toggle colored d-flex align-items-center justify-content-center"
      [style]="descriptionHeight ? { height: descriptionHeight } : ''"
    >
      <mat-icon *ngIf="!open" [inline]="true" aria-hidden="false" aria-label="expand panel">chevron_right</mat-icon>
      <mat-icon *ngIf="open" [inline]="true" aria-hidden="false" aria-label="collapse panel">expand_more</mat-icon>
    </mat-panel-title>

    <mat-panel-description class="mx-0 my-0 colored d-flex align-items-center">
      <ng-container *ngTemplateOutlet="description ? description : defaultDescription"></ng-container>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="open" class="card-content-size">
    <ng-container *ngTemplateOutlet="content ? content : defaultContent"></ng-container>
  </div>
</mat-expansion-panel>

<ng-template #defaultDescription>No Description</ng-template>
<ng-template #defaultContent>No Content</ng-template>
