<ul>
  <li>loanId</li>
  <li>principalBalance</li>
  <li>interestBalance</li>
  <li>nextDueDate</li>
  <li>currentAmountDue</li>
  <li>pastAmountDue</li>
  <li>feeAmountDue</li>
  <li>totalAmountDue</li>
  <li>lastPaymentDate</li>
  <li>
    perDiem
    <ul>
      <li>amount</li>
      <li>interestRate</li>
      <li>interestMethod</li>
    </ul>
  </li>
  <li>paidToDate</li>
  <li>daysLate</li>
  <li>regularPaymentAmount</li>
  <li>remainingTerm</li>
  <li>termFrequency</li>
  <li>lenderFeeAmountDue</li>
  <li>servicerFeeAmountDue</li>
  <li>investorFeeAmountDue</li>
  <li>defaultDate</li>
</ul>
