.main-panel {
  padding-bottom: 10rem;
}

.modal-backdrop {
  z-index: 1 !important;
}

footer {
  text-align: right;
  font-size: 0.75em;
  margin-top: 1em;
  padding-right: 2em;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
