@import '~@angular/material/theming';
@import 'theme';
@import 'colors';

// _button-groups.scss
button:focus {
  outline: none !important;
}

.mat-button-toggle-group-appearance-standard {
  border: 0;
}

.mat-button-toggle-group.sub-menu {
  box-shadow: none !important;

  .mat-button-toggle {
    border: 0;
    font-size: 12px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .mat-sidenav-backdrop {
    background-color: rgba(0, 0, 0, 0.33);
  }
}
// The style above pre-date the Material theme overrides below
// TODO: Verify the overrides above &/or move to a different location.

// Below are overrides of the material theme being set up within _theme.scss
// That theme is instantiated within the primary styles.scss within the project
// so that these partials can be included wherever they are necessary without
// generating extra Material theme styles.

// Only theme elements which need to override the Material theme are present in
// this file. New theme specifications are present within styles.scss (e.g., overline)

.mat-button,
.mat-raised-button,
.mat-stroked-button {
  height: 36px;
}

.mat-raised-button,
.mat-stroked-button {
  border-radius: 5px 5px 5px 5px !important;
}

.mat-button,
.mat-stroked-button {
  font-size: 13px;
}

td.mat-cell,
th.mat-header-cell {
  font-size: mat-font-size($ap-typography-config, body-1);
  line-height: mat-line-height($ap-typography-config, body-1);
}

.mat-caption,
td.mat-cell,
th.mat-header-cell {
  color: $mdc-theme-on-primary;
}

.mat-h5,
h5,
.mat-h6,
h6 {
  @include mat-typography-font-shorthand(
    mat-font-size($ap-typography-config, subheading-1),
    mat-font-weight($ap-typography-config, subheading-1),
    mat-line-height($ap-typography-config, subheading-1),
    mat-font-family($ap-typography-config, subheading-1)
  );

  font-style: italic;
}

.mat-h6,
h6 {
  font-weight: 400;
}

.skip-tracing-warning {
  .mat-form-field-label {
    color: #ec7021;

    &.mat-accent,
    .mat-form-field-required-marker {
      color: #ec7021;
    }
  }

  .mat-form-field-ripple,
  .mat-form-field-ripple.mat-accent {
    background-color: #ec7021;
  }

  .mat-form-field-underline {
    background: #ec7021 !important;
    height: 2px !important;
    border-bottom: 0.5px solid #ec7021;
  }

  color: #ec7021;
}

/*
 * Targeting the appearance="fill" theme for the mat-form-field component.
 *
 * These styles we reverse engineered by reviewing the Angular Material _theming.scss
 * partial. I make note of this in case a class name changes in the future breaking styles.
 */
.mat-form-field-appearance-fill {
  $primary: map-get($ap-theme, primary);

  $label-color: rgba(0, 0, 0, 0.85);
  $focused-label-color: mat-color($primary);
  $focused-background-color: $lighter-blue;
  $background-color: rgba(0, 0, 0, 0.1);

  width: 100%;

  .mat-input-element,
  .mat-select {
    font-weight: mat-font-weight($ap-typography-config, body-2);
    color: $label-color;
  }

  .mat-form-field-flex {
    background-color: $background-color;
  }

  .mat-form-field-label,
  .mat-hint {
    font-size: mat-font-size($ap-typography-config, caption);
    color: $label-color;
  }

  .mat-form-field-underline::before {
    background-color: $label-color;
  }

  &.mat-form-field-disabled {
    .mat-input-element:disabled {
      color: $label-color;
    }

    .mat-form-field-flex {
      background-color: $background-color;
    }

    .mat-form-field-label {
      color: $label-color;
    }

    .mat-form-field-underline::before {
      // Extracted from @angular/material/_theming.scss
      // WARNING: I think the inclusion of '-private-' in the mixin name highlights
      //  the libraries desire this remain private API, but we've already built on
      //  top of it.
      @include mat-private-control-disabled-underline($label-color);
    }
  }

  &.mat-focused {
    .mat-form-field-underline::before {
      background-color: $focused-background-color;
    }

    &:not(.mat-form-field-invalid) .mat-hint {
      color: $focused-label-color;
    }
  }

  // Date Picker icon fixes
  //
  // Fix IE layout issue
  &.mat-form-field .mat-form-field-suffix .mat-icon-button {
    display: inline !important;
  }

  // Shrink down the Date Picker icon from 1.5em;
  &.mat-form-field .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon {
    display: inline;
    height: 1.125em;
  }
}
