<ng-container>
  <ul>
    <li>autoDebitId</li>
    <li>borrowerId</li>
    <li>loanId</li>
    <li>routingNumber</li>
    <li>accountNumber</li>
    <li>accountType</li>
    <li>accountHolderFirstName</li>
    <li>accountHolderLastName</li>
    <li>isActive</li>
    <li>onboardingId</li>
    <li>
      terms
      <ul>
        <li>type</li>
        <li>content</li>
      </ul>
    </li>
    <li>createdDate</li>
    <li>updatedDate</li>
    <li>createdBy</li>
    <li>updatedBy</li>
    <li>customAmount</li>
    <li>reason</li>
    <li>bankProfileId</li>
  </ul>
</ng-container>
