
<mat-sidenav mode="side" opened class="side-navigation">
  <div class="d-flex align-items-center ml-3 mt-4">
    <img class="logo-size" src="assets/img/logo.svg" alt="nelnet logo" />
    <h1 class="ml-3">Onboarding</h1>
  </div>
</mat-sidenav>
<mat-sidenav-content class="side-content">Main content</mat-sidenav-content>
<!-- <ng-template #dashboardDescription>
  <div class="w-100 d-flex">
    <div class="d-flex align-items-center mr-auto">
      <mat-icon class="large-icon-size mx-3" [inline]="true">dashboard</mat-icon>
      <h2 class="txt-light mb-0">Onboarding Forms for Consumer or Education</h2>
    </div>
  </div>
</ng-template>
<ng-template #dashboardContent>
  <mat-tab-group>
    <mat-tab label="Consumer">
      <app-consumer></app-consumer>
    </mat-tab>
    <mat-tab label="Education">
      <app-education></app-education>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<app-collapsible-card [description]="dashboardDescription" [content]="dashboardContent"></app-collapsible-card> -->
