<!-- <span *ngIf=""></span>
<mat-sidenav mode="side" opened class="side-navigation">
  <div class="d-flex logo-position">
    <div>
      <img class="logo-size" src="assets/img/logo.png" alt="nelnet logo" />
      <h1 class="ml-3 logo-move"> Onboarding</h1>
      <mat-slide-toggle class="mx-3" color="accent" matTooltip="Switch Layout">
        <span class="mat-body-strong text-uppercase">Switch Layout</span>
      </mat-slide-toggle>
    </div>
    <ul>
      <li><a mat-list-item>Consumer</a></li>
      <li><a mat-list-item href="...">Education</a></li>
      <li><a mat-list-item href="...">Income Share</a></li>
    </ul>
  </div>
  <div class="fixed-bottom row row-width-275">
    <app-divider class="divider-styles"></app-divider>
    <div class="col">
      <h2 data-cy="app-header-username" class="mb-0 username-position">{{ username }}</h2>
    </div>
    <div class="col-2">
      <button mat-icon-button matTooltip="Log Out" (click)="logout()" class="username-image">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-sidenav>
<mat-sidenav-content class="side-content">
  <app-consumer></app-consumer>
</mat-sidenav-content> -->
<app-header></app-header>
<ng-template #dashboardDescription>
  <div class="w-100 d-flex">
    <div class="d-flex align-items-center mr-auto">
      <mat-icon class="large-icon-size mx-3" [inline]="true">dashboard</mat-icon>
      <h2 class="txt-light mb-0">{{formName}}</h2>
    </div>
  </div>
</ng-template>
<ng-template #dashboardContent>
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Consumer Bundle">
      <app-consumer></app-consumer>
    </mat-tab>
    <mat-tab label="Education Bundle">
      <app-education></app-education>
    </mat-tab>
    <mat-tab label="Income Share Bundle">
      <app-incomeshare></app-incomeshare>
    </mat-tab>
    <mat-tab label="File Upload">
      <app-document-upload></app-document-upload>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<app-collapsible-card [description]="dashboardDescription" [content]="dashboardContent"></app-collapsible-card>
