<app-header></app-header>
<ng-template #dashboardDescription>
  <div class="w-100 d-flex">
    <div class="d-flex align-items-center mr-auto">
      <mat-icon class="large-icon-size mx-3" [inline]="true">dashboard</mat-icon>
      <h2 class="txt-light mb-0">Onboarding Forms for Consumer or Education</h2>
    </div>
  </div>
</ng-template>
<ng-template #dashboardContent>
  <mat-tab-group>
    <mat-tab label="Consumer">
      <app-consumer></app-consumer>
    </mat-tab>
    <mat-tab label="Education">
      <app-education></app-education>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<app-collapsible-card [description]="dashboardDescription" [content]="dashboardContent"></app-collapsible-card>
