<mat-card class="p-0 my-3" [ngClass]="{ success: isSuccess, info: isInfo, error: isError, warning: isWarning }">
  <mat-card-content class="d-flex flex-row">
    <div class="d-flex align-items-center success" *ngIf="isSuccess">
      <mat-icon class="p-2">check_circle</mat-icon>
    </div>

    <div class="d-flex align-items-center info" *ngIf="isInfo">
      <mat-icon class="p-2">info</mat-icon>
    </div>

    <div class="d-flex align-items-center warning" *ngIf="isWarning">
      <mat-icon class="p-2">warning</mat-icon>
    </div>

    <div class="d-flex align-items-center error" *ngIf="isError">
      <mat-icon class="p-2">error</mat-icon>
    </div>

    <div class="my-2 mx-2 d-flex flex-column">
      <div *ngIf="title" class="mb-1">
        <strong>{{ title }}</strong>
      </div>

      <div>
        {{ message }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
