<span class="float-right close_btn" matTooltip="Close" matTooltipPosition="below">
  <button mat-button type="button" mat-dialog-close>
    <mat-icon color="primary">cancel</mat-icon>
  </button>
</span>
<h3>Compare Detail Blocks</h3>
<hr />
<mat-dialog-content>
  <div class="row flex-nowrap">
    <div class="col">
      <h4>Statement Details</h4>
      <app-statement-details></app-statement-details>
    </div>

    <div class="col">
      <h4>Auto Debit Details</h4>
      <app-auto-debit-details></app-auto-debit-details>
    </div>
    <div class="col">
      <h4>SCRA Denial Details</h4>
      <app-scra-denial-details></app-scra-denial-details>
    </div>
    <div class="col">
      <h4>Call Tracking Summary</h4>
      <app-call-tracking-summary></app-call-tracking-summary>
    </div>
    <div class="col">
      <h4>Delinquency Dialer Bucket</h4>
      <app-current-deliquency-dialer-bucket></app-current-deliquency-dialer-bucket>
    </div>
    <div class="col">
      <h4>Payment Details</h4>
      <app-payment-details></app-payment-details>
    </div>
    <div class="col">
      <h4>Scheduled Payment Details</h4>
      <app-scheduled-payment-details></app-scheduled-payment-details>
    </div>
    <div class="col">
      <h4>Borrower Details</h4>
      <app-borrower-details></app-borrower-details>
    </div>
    <div class="col">
      <h4>Loan Details</h4>
      <app-loan-details></app-loan-details>
    </div>
    <div class="col">
      <h4>School Enrollment Details</h4>
      <app-school-enrollment-details></app-school-enrollment-details>
    </div>
    <div class="col">
      <h4>Scra Ending Details</h4>
      <app-scra-ending-details></app-scra-ending-details>
    </div>
  </div>
</mat-dialog-content>
