<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="generalSettingsForm">
    <form [formGroup]="generalSettingsForm">
      <ng-template matStepLabel>General Information</ng-template>
      <h4 class="mt-2">General Onboarding Information</h4>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Loan Program ID</mat-label>
            <input matInput placeholder="Loan Program ID" formControlName="loanProgramId" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lender ID</mat-label>
            <input matInput placeholder="Lender ID" formControlName="lenderId" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Call Back URL</mat-label>
            <input matInput placeholder="Call Back URL" formControlName="callBackURL">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>itemId</mat-label>
            <input matInput placeholder="Item ID" formControlName="itemId">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Batch ID</mat-label>
            <input matInput placeholder="Batch ID" formControlName="batchId">
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="borrowerForm">
    <form [formGroup]="borrowerForm">
      <ng-template matStepLabel>Add Borrower(s)</ng-template>
      <h4 class="mt-2">Load borrower already on the system, or a new borrower</h4>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Borrower Id</mat-label>
            <input matInput placeholder="Borrower Id (if already loaded onto the system)" formControlName="borrowerId">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Borrower Number</mat-label>
            <input matInput placeholder="Borrower Number" formControlName="borrowerNumber">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Borrower Type</mat-label>
            <mat-select placeholder="Borrower Type" formControlName="borrowerType">
              <mat-option *ngFor="let type of borrowerType" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>External Reference ID</mat-label>
            <input matInput placeholder="External Reference ID" formControlName="externalReferenceId">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Social Security Number</mat-label>
            <input matInput placeholder="Social Security Number" formControlName="ssn">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Middle Name</mat-label>
            <input matInput placeholder="Middle Name" formControlName="middleName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Suffix</mat-label>
            <input matInput placeholder="Suffix" formControlName="suffix">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput placeholder="Date of Birth" formControlName="dob">
          </mat-form-field>
        </div>
      </div>
      <app-divider></app-divider>
      <h4 class="mt-2">Borrower Flags</h4>
      <app-divider class="mb-4"></app-divider>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Active Military</mat-label>
            <input matInput placeholder="Active Military" formControlName="activeMilitary">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Accepted e-Correspondence</mat-label>
            <input matInput placeholder="Accepted e-Correspondence" formControlName="ecorrAccepted">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Active Privacy</mat-label>
            <input matInput placeholder="Active Privacy" formControlName="activePrivacy">
          </mat-form-field>
        </div>
      </div>
      <app-divider></app-divider>
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Borrower Address('s)</h4>
        </div>
        <div class="col">
          <button class="no-btn-styles icons add-icon float-right mt-2" (click)="addAddress()">
            <span class="material-icons info-icon">add_circle</span> Add Address
          </button>
        </div>
      </div>
      <div class="row">
        <ng-container formArrayName="addresses">
          <div *ngFor="let add of addresses.controls; let i = index" formGroupName="{{ i }}">
            <app-divider class="mb-4"></app-divider>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Street 1</mat-label>
                  <input matInput type="text" placeholder="Street 1" formControlName="street1" />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Street 2</mat-label>
                  <input matInput type="text" placeholder="Street 2" formControlName="street2" />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>City</mat-label>
                  <input matInput type="text" placeholder="City" formControlName="city" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state" ngDefaultControl>
                    <mat-option *ngFor="let st of states$ | async" [value]="st.abbreviation">
                      {{ st.abbreviation }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Postal Code</mat-label>
                  <input matInput type="text" placeholder="Postal Code" formControlName="postalCode">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="countryCode">
                    <mat-option *ngFor="let co of countries$ | async" [value]="co.code">
                      {{ co.code }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <app-divider></app-divider>
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Borrower Phone Number('s)</h4>
        </div>
        <div class="col">
          <button class="no-btn-styles icons add-icon float-right mt-2" (click)="addPhone()">
            <span class="material-icons info-icon">add_circle</span> Add Phone
          </button>
        </div>
      </div>
      <div class="row">
        <ng-container formArrayName="phoneNumbers">
          <div *ngFor="let phone of phoneNumbers.controls; let phIndex = index" formGroupName="{{phIndex}}">
            <app-divider class="mb-4"></app-divider>
            <div class="row">
              <div class="col">
                <mat-slide-toggle class="mx-3" color="accent" matTooltip="Cell Phone Consent"
                  formControlName="hasCellPhoneConsent">
                  <span class="mat-body-strong text-uppercase">Cell Phone Consent</span>
                </mat-slide-toggle>
                <strong>|</strong>
                <mat-slide-toggle class="mx-3" color="accent" matTooltip="Primary Phone" formControlName="isPrimary">
                  <span class="mat-body-strong text-uppercase">Primary</span>
                </mat-slide-toggle>
                <mat-form-field class="example-full-width">
                  <mat-label>Phone Type</mat-label>
                  <mat-select placeholder="Phone Type" formControlName="type">
                    <mat-option *ngFor="let type of phoneType" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-slide-toggle class="mx-3" color="accent" matTooltip="Mobile Phone" formControlName="isMobile">
                  <span class="mat-body-strong text-uppercase">Mobile</span>
                </mat-slide-toggle>
                <mat-form-field>
                  <mat-label *ngIf="phIndex === 0">Primary Phone Number</mat-label>
                  <mat-label *ngIf="phIndex !== 0">Alternate Phone Number</mat-label>
                  <input matInput placeholder="Phone Number" formControlName="phoneNumber" [showMaskTyped]="true"
                    prefix="+1" mask="(000) 000-0000" type="text" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <app-divider></app-divider>
      <div class="row">
        <div class="col">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loanForm" label="Add Loan(s)">
    <form [formGroup]="loanForm">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Term</mat-label>
            <input matInput formControlName="term" placeholder="Term" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Interest Rate</mat-label>
            <input matInput formControlName="interestRate" placeholder="Interest Rate" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Rate Type</mat-label>
            <mat-select placeholder="Rate Type" formControlName="rateType">
              <mat-option *ngFor="let type of rateTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>External Reference Id</mat-label>
            <input matInput formControlName="externalReferenceId" placeholder="External Reference Id" required>
          </mat-form-field>
        </div>
      </div>
      <app-divider></app-divider>
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Disbursements</h4>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <button class="no-btn-styles icons">
                <span class="material-icons info-icon">remove_circle</span> Remove
              </button>
            </div>
            <div class="col">
              <button class="no-btn-styles icons add-icon" (click)="addD()">
                <span class="material-icons info-icon">add_circle</span> Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-divider class="mb-4"></app-divider>
      <div formArrayName="disbursements">
        <div *ngFor="let disburse of disbursements.controls; let d = index" formGroupName="{{d}}">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Disbursement Date</mat-label>
                <input matInput placeholder="Disbursement Date" formControlName="disbursementDate" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" placeholder="Amount" required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Origination Fee</mat-label>
                <input matInput formControlName="originationFee" placeholder="Origination Fee" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>External Reference Id</mat-label>
                <input matInput formControlName="externalReferenceId" placeholder="External Reference Id" required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <app-divider></app-divider>
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Loan Periods</h4>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <button class="no-btn-styles icons">
                <span class="material-icons info-icon">remove_circle</span> Remove
              </button>
            </div>
            <div class="col">
              <button class="no-btn-styles icons add-icon">
                <span class="material-icons info-icon">add_circle</span> Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- loan periods start -->
      <app-divider class="mb-4"></app-divider>
      <div formArrayName="loanPeriods">
        <div *ngFor="let period of loanPeriods.controls; let d = index" formGroupName="{{d}}">
          <!-- fixed amount -->
          <div class="row">
            <span class="overline">
              Fixed Amount
            </span>
            <div class="col">
              <mat-form-field>
                <mat-label>Payment Amount</mat-label>
                <input matInput placeholder="Payment Amount" formControlName="fixedPaymentAmount" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>First Payment Date</mat-label>
                <input matInput formControlName="First Payment Date" placeholder="fixedFirstPaymentDate" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input matInput formControlName="Start Date" placeholder="fixedStartDate" required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Reduce Term</mat-label>
                <input matInput formControlName="fixedReduceTerm" placeholder="Reduce Term" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Payment Frequency</mat-label>
                <input matInput formControlName="fixedPaymentFrequency" placeholder="Payment Frequency" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cap Interest At Start</mat-label>
                <input matInput formControlName="fixedCapInterestAtStart" placeholder="Cap Interest At Start" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Loan Period Tags</mat-label>
                <input matInput formControlName="fixedLoanPeriodTags" placeholder="Loan Period Tags" required>
              </mat-form-field>
            </div>
          </div>
          <app-divider class="mb-4"></app-divider>
          <!-- deferment -->
          <div class="row">
            <span class="overline">
              Deferment
            </span>

          </div>
          <app-divider class="mb-4"></app-divider>
          <!-- interest only -->
          <div clas="row">
            <span class="overline">
              Interest Only
            </span>

          </div>
          <app-divider class="mb-4"></app-divider>
          <!-- principal and interest -->
          <div class="row">
            <span class="overline">
              Principal and Interest
            </span>

          </div>
        </div>
      </div>

      <!-- buttons -->
      <app-divider class="mb-4"></app-divider>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
